# MongoDB Configuration
SPRING_DATA_MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/chatapp

# Mail Configuration (Example for Gmail)
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=your-email@gmail.com
SPRING_MAIL_PASSWORD=your-app-specific-password

# Render Keep-Alive Configuration
RENDER_EXTERNAL_URL=https://chatapp-sk.onrender.com

# CORS Configuration
# Set this to your frontend URL(s) separated by commas
ALLOWED_ORIGINS=https://chatapp-8k4c.onrender.com,http://localhost:5173
